* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background: #f5f5f5;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
}

.title {
	text-align: center;
}

.container {
	width: 600px;
	margin: 2rem auto;
	padding: 0 1rem;
}

.clock {
	border: 1px solid #bebebe;
	padding: 1rem;
	border-radius: 3px;
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}
.divider {
	font-size: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.clock__digit {
	height: 100px;
	width: 60px;
	position: relative;
}
.clock__line {
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	transition: 300ms ease-in;
}

.clock__line::before,
.clock__line::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
}

/*Defining types*/
.clock__line_vertical {
	height: calc(100% / 4);
	width: 10px;
	transform: rotateY(0deg);
}
.clock__line_vertical::before {
	top: -10px;
	border-width: 0 5px 8.7px 5px;
	border-color: transparent transparent #000000 transparent;
}
.clock__line_vertical::after {
	bottom: -10px;
	border-width: 8.7px 5px 0 5px;
	border-color: #000000 transparent transparent transparent;
}
.clock__line_horizontal {
	height: 10px;
	left: 15px;
	width: calc(100% - 30px);
	transform: rotateX(0deg);
}
.clock__line_horizontal::before {
	left: -10px;
	border-width: 5px 8.7px 5px 0;
	border-color: transparent #000 transparent transparent;
}
.clock__line_horizontal::after {
	right: -10px;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent #000000;
}

.clock__line_vertical.clock__line_hidden {
	transform: rotateY(90deg);
}
.clock__line_horizontal.clock__line_hidden {
	transform: rotateX(90deg);
}


/*Positioning styles*/
.clock__line_middle {
	top: calc(100% / 2 - 5px);
	transform-origin: top;
}
.clock__line_top-center {
	top: 0;
	transform-origin: top;
}
.clock__line_bottom-center {
	top: auto;
	bottom: 0;
	transform-origin: bottom;
}

.clock__line_left {
	transform-origin: left;
}
.clock__line_right {
	right: 0;
	left: auto;
	transform-origin: right;
}
.clock__line_top {
	top: 15px;
}
.clock__line_bottom {
	top: auto;
	bottom: 15px;
}